<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>

        </div>
        <div>
            <form action="/api/users/delete" method="POST">
                <label for="ID"></label>
                <input type="text" id="ID" name="ID">
                <button type="submit">Eliminar</button>
            </form>
            <form action="/api/users/premium/" method="POST">
                <label for="ID"></label>
                <input type="text" id="ID" name="ID">
                <button type="submit">Modificar</button>
            </form>
        </div>
    </div>
</body>
</html>